<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="#">
    <meta charset="UTF-8">
    <title>测试平台</title>
	<!--awesome font include-->
        <link type="text/css" rel="stylesheet" href="/static/201908059658/assets/css/font-awesome.min.css" />
        <!--include plugin css-->
        <link type="text/css" rel="stylesheet" href="/static/201908059658/src/jquery-rvnm.css" />

        <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/bootstrap.min.css">
</head>
<body>
	<nav id="navbar" class="">
            <ul>
                <li>
                    <a href="/project_list/">
                        <i class="fa fa-bell-o"></i>
                        项目列表
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-bell-o"></i>
                        接口测试
                    </a>
                </li>
                <li>
                    <a href="/help/">
                        <i class="fa fa-bell-o"></i>
                        帮助
                    </a>
                </li>
                <li>
                    <a href="/admin/" target="_blank">
                        <i class="fa fa-bell-o"></i>
                        后台
                    </a>
                </li>
            </ul>

                </li>
            </ul>
    </nav>
    <button id="menu_btn" onclick="display_menu()" style="
    position: absolute;left: 188px;top: 48%;z-index: 999;height: 35px;
    background-color: #353c48;color: white;border: 0;font-size: x-large"><</button>

    <script>
        function display_menu() {
            menu = document.getElementById('navbar');
            btn = document.getElementById('menu_btn');
            if( btn.innerText == '<' ){
                menu.style.display = 'none';
                btn.style.left = '0px';
                btn.innerText = '>';
            }else{
                menu.style.display = 'block';
                btn.style.left = '188px';
                btn.innerText = '<';
            }
        }
    </script>
    <div style="font-size: large;position: absolute;top: 0px;right: 0px;
                padding-left: 5px;padding-right: 5px">
        <a href="/home/">
            <button style="height:35px;width: 100px;background-color: #353C48;color: white;font-size: large">🏡主页</button>
        </a>
        <br>
        <a href="/logout/">
            <button style="height:35px;width: 100px;background-color: #353C48;color: white;border-radius: 0px 0px 0px 10px;font-size: large">🦵退出</button>
        </a>
    </div>
    <br>


	<script src="/static/201908059658/js/jquery-1.11.0.min.js" type="text/javascript"></script>

    <script src="/static/bootstrap-3.4.1-dist/js/bootstrap.min.js" type="text/javascript"></script>

        <!--include plugin js-->
        <script type="text/javascript" src="/static/201908059658/src/jquery-rvnm.js"></script>
        <!--js run code-->
        <script type="text/javascript">
            $(function () {
                var rvnMenu = $("#navbar").rvnm({
//                    mode: 'mobile',
//                    responsive: false,
                    searchable: true,
                    theme: 'dark-lesb'
                });
                console.log(rvnMenu);
//                rvnMenu.setMode('minimal');
                rvnMenu.setTheme('dark-ruby');
            });
        </script>
    <div id="page1"></div>
    <script>$('#page1').load('/child/'+'{{ whichHTML }}/{{ oid }}/')</script>
    <script>
        if ("{{ whichHTML }}" !="home.html"){
            document.getElementById('menu_btn').click();

        }
    </script>


</body>
</html>